<h3>{{userId}}的个人页面 - {{pageName}}</h3>
<br><br>

<div style="margin-left: 200px;">
<!-- user info -->
<fieldset>
    <legend>基本信息</legend>                        
        <input id="nickname" placeholder="昵称" name="nickname" ng-model="nickname" required/>
        <input id="area" placeholder="地区" name="area" ng-model="area" required/>
        <input id="birth" placeholder="生日" name="birth" ng-model="birth" required/>
</fieldset>

  <!-- disease info: patient only -->
<fieldset>
    <legend>疾病相关</legend>
        <input id="diseaseName" placeholder="疾病名称" name="diseaseName" ng-model="diseaseName" required/>
        <input id="diseaseReason" placeholder="疾病原因" name="diseaseReason" ng-model="diseaseReason" required/>
</fieldset>
<button id="btn_clr" ng-click="clear()">重置</button>
<button ng-click="save()">提交</button>

</div>
