
<br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" id="vertmenu">
          <!--Sidebar content-->
          <h3>{{userId}}的个人空间</h3>
          <ul class="">
            <li><a href="#/users/edit/{{userId}}">编辑信息</a></li>            
            <li><a href="" ng-click="checkin();">每日打卡</a></li>
            <li><a href="#/users/{{userId}}/rewards">积分中心</a></li>            
            <li><a href="#/users/{{userId}}/friends/"">朋友圈</a></li>   
            <li><a href="#" onclick="return false;">时间轴(扩展)</a></li>
            <li><a href="#" onclick="return false;">活动</a></li>
            <li><a href="" ng-click="showMailbox('myDiv', true);">消息</a></li>
          </ul>
          <h3>{{userId}}的朋友圈</h3>
          <ul class="">
            <li><a href="">朋友动态</a></li>           
            <li><a href="#/users/{{userId}}/friends/"">朋友圈</a></li>
            <li><a href="#" onclick="return false;">活动</a></li>
            <li><a href="#" onclick="return false;">消息</a></li>
          </ul>          
        </div>
        
        
        <div class="col-md-6">
          <!--Body content-->        
            <div>
                <tabset>
                <tab>
                <tab-heading>心情更新</tab-heading>
                <textarea rows="1" cols="70" placeholder="此刻说点啥" onkeydown="MaxMe(this)" style="padding: 20px 0; resize: none; overflow: hidden"></textarea>
                <br>
                <button ng-click="resetAct()">重置</button>
                <button ng-click="updateAct()">提交</button>
                </tab>
                <tab heading="最近...">
                <textarea rows="1" cols="70" placeholder="最近做了啥..." onkeydown="MaxMe(this)" style="padding: 20px 0; resize: none; overflow: hidden"></textarea>
                <br>
                </tab>
                <tab heading="活动">
                <textarea rows="1" cols="70" placeholder="最近的活动状态，完成情况" onkeydown="MaxMe(this)" style="padding: 20px 0; resize: none; overflow: hidden"></textarea>
                <br>
                </tab>
                </tabset>
          </div>
          <div ng-style="messageStyle" id="myDiv">

                <tabset>
                <tab>
                <tab-heading>系统消息</tab-heading>
                    <div class="panel panel-default">
                       <div class="panel-body">
                           <table class="table table-hover table-striped">
                           <tr ng-repeat="mail in sysMails">
                               <td>
                                 <a href="">{{mail.title}}</a>                         
                               </td>
                           </tr>
                           </table>
                       </div>
                    </div>
                </tab>
 
                <tab heading="好友消息">
                    <div class="panel panel-default">
                       <div class="panel-body">
                           <table class="table table-hover table-striped">
                           <tr ng-repeat="mail in fMails">
                               <td>
                                 <a href="">{{mail.title}}</a>                         
                               </td>
                           </tr>
                           </table>
                       </div>
                    </div>
                </tab>   
               <tab heading="陌生人消息">
                    <div class="panel panel-default">
                       <div class="panel-body">
                           <table class="table table-hover table-striped">
                           <tr ng-repeat="mail in strMails">
                               <td>
                                 <a href="">{{mail.title}}</a>                         
                               </td>
                           </tr>
                           </table>
                       </div>
                    </div>
                </tab>                
                </tabset>                                
                <button ng-click="showMailbox('myDiv', false)">关闭信箱</button>
          </div>
        </div>
        <div class="col-md-2">
          <!--Body content-->
          <ul class="">
            <li>row1</li>
            <li>row2</li>
          </ul>
        </div> 
    </div>
</div>