
<br><br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" id="vertmenu">
          <!--Sidebar content-->
          <h3>{{userId}}的个人空间</h3>
          <ul class="">
            <li><a href="#/users/edit/{{userId}}">编辑信息</a></li>            
            <li><a href="" ng-click="checkin();">每日打卡</a></li>
            <li><a href="#/users/{{userId}}/rewards">积分中心</a></li>            
            <li><a href="#/users/{{userId}}/friends/"">朋友圈</a></li>   
            <li><a href="#" onclick="return false;">时间轴(扩展)</a></li>
            <li><a href="#" onclick="return false;">活动</a></li>
            <li><a href="#" onclick="return false;">消息</a></li>
          </ul>
          <h3>{{userId}}的朋友圈</h3>
          <ul class="">
            <li><a href="">朋友动态</a></li>           
            <li><a href="#/users/{{userId}}/friends/"">朋友圈</a></li>
            <li><a href="#" onclick="return false;">活动</a></li>
            <li><a href="#" onclick="return false;">消息</a></li>
          </ul>          
        </div>
        
        
        <div class="col-md-6">
          <!--Body content-->
          <div class="">
          <!-- row 1 -->
          <div class="row">
          <div class="col-md-3">心情更新</div>
          <div class="col-md-3">最近...</div>
          <div class="col-md-3">row1.col3</div>
          </div>
          <!-- row 2 -->
          <div class="row">
          <div class="col-md-6">
            <textarea rows="1" cols="70" placeholder="此刻说点啥" onkeydown="MaxMe(this)" style="padding: 20px 0; resize: none; overflow: hidden"></textarea>
          </div>
          </div>
          <!-- row 3 -->
          <div class="row">
          <div class="col-md-3">
          <button ng-click="resetAct()">重置</button>
          <button ng-click="updateAct()">提交</button>
          </div>
          <div class="col-md-3">row3.col2</div>
          <div class="col-md-3">row3.col3</div>
          <div class="col-md-3">row3.col4</div>
          </div>
          </div>
        </div>
        <div class="col-md-2">
          <!--Body content-->
          <ul class="">
            <li>row1</li>
            <li>row2</li>
          </ul>
        </div> 
    </div>
</div>